@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
@import "../../common/style/color";
body{
    .container{
        .content{
            .nav-free{
                 margin-bottom: 0px;
            }
        }
    }
}
.container-free {
    .maxBody(100%,auto);
    .font-fm();
    .freeIndex{
        .staticPart{
            .maxBody(100%,auto);
            .introduce{
                .b-sizing();
                .maxBody(100%,556px);
                .linear-gradient(#d1d6e1,#fff);
                .content{
                    margin: auto;
                    .b-sizing();
                    .maxBody(737px,auto);
                    img{
                        margin-top:80px;
                    }
                }
            }
            .coreContent{
                .b-sizing();
                .maxBody(100%,auto);
                .linear-gradient-x(#f8b57c,#f7d67f);
                .content{
                     margin: auto;
                    .b-sizing();
                    .maxBody(837px,400px);
                    img{
                        margin-top:80px;
                    }
                }
            }
            .dema{
                .b-sizing();
                .maxBody(100%,auto);
                background: #edeff5;
                 .content{
                     margin: auto;
                    .b-sizing();
                    .maxBody(837px,468px);
                    img{
                        .maxBody(95%,auto);
                        margin-top: 35px;
                    }
                }
            }
            .repo{
                .b-sizing();
                .maxBody(100%,auto);
                background: #edeff5;
                 .content{
                     margin: auto;
                    .b-sizing();
                    .maxBody(837px,468px);
                    img{
                        .maxBody(100%,auto);
                    }
                }
            }
        }
        .Carousel{
            .maxBody(100%,600px);
            .ba-c(#edeff5);
            .d-ib();
            .title{
                .maxBody(100%,auto);
                margin-bottom: 50px;
                p{
                    .text-c();
                    .font-s(24px);
                    color: #222222;
                }
            }
            .btn{
                .maxBody(10%,400px);
            }
            .next{
                .fl(@f:left;);
                a{
                    .maxBody(55px,110px);
                    .pos (a);
                    .d-ib();
                    .c-point();
                    background: url(../../images/exponent_free/ico.png) no-repeat;
                    margin-top: 150px;
                    z-index: 10;
                    right: 0;
                    background-position: -56px 0;
                }
            }
            .previous{
                .fr(@f:right);
                a{
                    .maxBody(56px,110px);
                    .pos (a);
                    .d-ib();
                    .c-point();
                    background: url(../../images/exponent_free/ico.png) no-repeat;
                    margin-top: 150px;
                    z-index: 10;
                    left: 0;
                }
            }
            .content{
                .b-sizing();
                .maxBody(80%,400px);
                .d-ib();
                margin: auto;
                ul {
                    .maxBody(900px,400px);
                    list-style: none;
                    padding: 0;
                    margin: 0 auto;
                    li{
                        .maxBody(60%,70%);
                        // .maxBody(680px,382px);
                        .c-point();
                        .text-c();
                        background-color: #ccc;
                        .roundabout-in-focus {
                            cursor: default;
                        }
                        img{
                            .maxBody(100%,100%);
                            .pos (r);
                            box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.3);
                            z-index: 1000;
                        }
                        div{
                            .maxBody(100%,100%);
                            .d-b();
                            .pos (a);
                            .ba-c(#595959);
                            border-radius: 10px;
                            z-index: 0;
                            top: 10px;
                        }
                    }
                }
                
                #carbonads-container .carbonad {
                    margin: 0 auto;
                }

            }
        }
    }
    .freeDetail{
        .maxBody(1100px,780px);
        margin-left: auto;
        margin-right: auto;
        .freeDe-title{
            .maxBody(1100px,38px);
            .l-h(38px);
            .b-sizing();
            .blue-gradient-x();
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            padding-left: 20px;
            color: #fff;
        }
        iframe{
            .maxBody(1100px,740px);
            .b-sizing();
            .ba-c(#fff);
            border: 1px solid #e5e5e5;
        }
    }
}
