    * {
        margin: 0;
        padding: 0
    }
    .wrap{
        width:100%;
        height:400px;
        box-sizing: border-box;
        font-family: "Microsoft Yahei ui","微软雅黑";
    }
    .header{
        display: inline;
        line-height: 2.5;
    }
    ul,
    li {
        list-style: none
    }
    
    .tabClick {
        width: 30%;
        float: right;
        overflow: hidden
    }
    
    .tabClick li {
        width: 25%;
        float: left;
        text-align: center;
        color:#bbbbbb;
        font-size: 16px;
        cursor:pointer;
    }
    .tabClick span{
        // width: 25%;
        float: left;
        text-align: center;
        color:#bbbbbb;
        font-size: 16px;
    }
    .tabClick li.active {
        color: #49befc;
        transition: 0.1s;
        font-weight: bold
    }
    
    .tabCon {
        width:330px;
        overflow: hidden
    }
    
    .tabBox {
        position: relative
    }
    
    .tabList {
        word-break: break-all;
        width: 330px;
        float: left;
        line-height: 1.8;
        text-align: left;
        font-size: 16px;
        color:#4b4b4b;
    }
    
    .lineBorder {
        height: 2px;
        overflow: hidden;
        border-bottom: 1px solid #099;
        background: #f3f3f3;
        display: none;
    }
    
    .lineDiv {
        background: #099;
        height: 2px;
        width: 25%;
    }

    .wrap .title{
        float: left;
        font-size: 18px;
    }
    .wraphr{
        width: 100%;
        border-top:1px solid  #222;
        color:#222222;
    }
