@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
@import "../../common/style/color";

@bgColor: #F8F8F8;
@borderColor: #bbb;
@borderShadow: 0 5px 20px rgba(0,0,0,.05);
.publicMoudle(){
	.b-sizing();
	background: @bgColor;
	.box-shadow(@borderShadow);
	.border-radius(6px);
}
.container-pay{
	@allWidth: 1100px;
	@navWidth: 175px;
	.maxBody(@allWidth,100%);
	.bc();
	.clearfix();
	.publicMoudle();
	.pay-nav{
		width: @navWidth;
		.fl();
		ul{
			li{
				.l-h(80px);
				.rel();
				a{
					.d-ib();
					.maxBody(@navWidth,100%);
					padding-left: 20px;
					.b-sizing();
					.font-s(16px);
					color: #4b4b4b;
				}
				&:first-child{
					border-top-left-radius: 6px;
				}
				&:last-child{
					border-bottom-left-radius: 6px;
				}
				&:hover{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				&.current{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				.iconfont{
					.font-s(14px);
					.abs();
					right: 21px;
					top: 0;
					color: @bgColor;
				}
			}
		}
	}
	.pay-section{
		width: @allWidth - @navWidth;
		.rel();
		margin-left: @navWidth;
		min-height: 520px;
		background: #fff;
		.box-shadow(@borderShadow);
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		.b-sizing();
		padding: 30px 30px 60px;
		
		&.nodata{
			background: url(../../images/exponent-pay/no-data.png) no-repeat center center #fff;
		}
		.select-module{
			.fl();
			.b-sizing();
			padding: 0 30px 0 25px;
			margin-right: 20px;
			.c-point();
			.rel();
			background: #fff;
			.titles{
				.rel();
				.d-ib();
				left: -25px;
				padding: 0px 20px;
				.l-h(34px);
				.z-index(99);
				color: #4b4b4b;
				.font-s(16px);
				width: 100%;
				border: 1px solid @borderColor;
				.border-radius(6px);
				
			}
			.iconfont{
				.font-s(20px);
				.abs();
				right: 15px;
				top: 8px;
				color: #ccc;
			}
			.nav-list-page{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid @borderColor;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 213px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 212px;
						top: 0;
						width: 117px;
						background: #fff;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 329px;
						top: 0;
						width: 412px;
						background: #fff;
						span{
							.d-ib();
							width: 137px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 21px;
							top: 0;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
			.nav-list-region{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 213px;
				padding: 0px 16px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
		
			.nav-list-datatime{
				.abs();
				.z-index(9);
				margin-left: -19px;
				top: 36px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid #D7DBE5;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 203px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 203px;
						top: 0;
						width: 114px;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 317px;
						top: 0;
						width: 400px;
						span{
							.d-ib();
							width: 133px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 11px;
							top: 2px;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
	
		}
		.indicselect-module{
			.fl();
			.b-sizing();
			padding: 0 20px 0 25px;
			margin-right: 20px;
			.c-point();
			.rel();
			background: #fff;
			height: 36px;
			.titles{
				.rel();
				.d-ib();
				left: -25px;
				padding: 0px 20px ;
				.z-index(99);
				color: #4b4b4b;
				.font-s(16px);
				width: 100%;
				height:34px;
				line-height: 34px;
				border: 1px solid @borderColor;
				.border-radius(6px);
			    white-space: nowrap;
    			overflow: hidden;
    			text-overflow: ellipsis;
			}
			.iconfont{
				.font-s(20px);
				.abs();
				right: 15px;
				top: 8px;
				color: #ccc;
			}
			.nav-list-page{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid @borderColor;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 213px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 212px;
						top: 0;
						width: 100px;
						background: #fff;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 312px;
						top: 0;
						width: 390px;
						background: #fff;
						span{
							.d-ib();
							width: 130px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 21px;
							top: 0;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
			.nav-list-region{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 213px;
				padding: 0px 16px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
			.indic-navlist-multiselect{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 146px;
				padding: 0px 14px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
						    white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 12px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
			.time-navlist-multiselect{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 203px;
				padding: 0px 14px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
						    white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
			.nav-list-datatime{
				.abs();
				.z-index(9);
				margin-left: -19px;
				top: 36px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				width:203px;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid #D7DBE5;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 203px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 203px;
						top: 0;
						width: 114px;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 317px;
						top: 0;
						width: 400px;
						span{
							.d-ib();
							width: 133px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 11px;
							top: 2px;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
			.nav-list-indic{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 150px;
				height:150px;
				padding: 0px 14px;
				background: #fff;
			    overflow: auto;
				.d-n();
				li{
					.b-sizing();
					.l-h(23px);
					.font-s(16px);
					color: #4b4b4b;
					list-style: none;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
					&:hover{
						.blue-gradient-x();
						color: #fff;
					}
					&:hover.disable{
						color: #4b4b4b;
						opacity: 0.5;
						background: none;
						cursor: not-allowed;
					}
					&:hover.current{
						.blue-gradient-x();
						color: #fff;
					}
					&.current{
						color: #49befc;
					}
				}
				.indic{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					li{
						.b-sizing();
						.l-h(23px);
						.font-s(16px);
						color: #4b4b4b;
						padding: 0 15px;
						list-style: none;
						&:hover{
							.blue-gradient-x();
							color: #fff;
						}
						&:hover.disable{
							color: #4b4b4b;
							opacity: 0.5;
							background: none;
							cursor: not-allowed;
						}
						&:hover.current{
							.blue-gradient-x();
							color: #fff;
						}
						&.current{
							color: #49befc;
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
		}
		.indic-list-title{
			width:146px;
		}
		.time-list-title{
			width:203px;
		}
		.button-module{
			@color: #49befc;
			@size: 6px;
			.fl();
			input{
				.l-h(36px);
				padding: 0 19px;
				margin-left: 10px;
				.border-radius(@size);
				border: 1px solid @color;
				color: @color;
				.c-point();
				.font-fm();
				.font-s(16px);
				&:hover{
					background: @color;
					color: #fff;
				}
			}
		}
		.pay-section-nav{
			.clearfix();
			width: 100%;
			height: 36px;
			.nav-small-area{
				width: 200px;
				padding: 0 20px 0 20px;
				.titles {
					left: -20px;
				}
				.nav-list-region-checked{
					width: 100%;
					.abs();
					max-height: 140px;
					height: auto;
					overflow-y: auto;
					.publicMoudle();
					margin: 0;
					left: 0;
					top: 36px;
					.d-n();
					background: #fff;
					z-index: 1000;
					li{
						.b-sizing();
						.l-h(23px);
						.font-s(16px);
						color: #4b4b4b;
						padding: 0 15px;
						list-style: none;
						&:hover{
							.blue-gradient-x();
							color: #fff;
						}
						&:hover.disable{
							color: #4b4b4b;
							opacity: 0.5;
							background: none;
							cursor: not-allowed;
						}
						&:hover.current{
							.blue-gradient-x();
							color: #fff;
						}
						&.current{
							color: #49befc;
						}
					}
				}
			}
			.nav-large-time{
				width: 203px;
				padding: 0 20px 0 20px;
				.titles {
					left: -20px;
				}
			}
		}
		.survey-module{
			.clearfix();
			background: #fff;
			padding-top: 30px;
			.survey-module-title{
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
				.maxBody(100%,38px);
				.l-h(38px);
				padding-left: 20px;
				.b-sizing();
				.blue-gradient-x();
				color: #fff;
			}
			.survey-module-content{
				border: 1px solid @borderColor;
				border-top: none;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				padding: 20px 40px 25px 20px;
				.survey-module-list{
					width: 100%;
					.rel();
					.title{
						width: 100%;
						.rel();
						margin-bottom: 20px;
						p{
							.font-s(16px);
							color: #ddd;
							.rel();
							.z-index(8);
							.d-i();
							padding-right: 15px;
							background: #fff;
						}
						&:after{
							content: '';
							.d-ib();
							.abs();
							width: 100%;
							height: 1px;
							background: #ddd;
							top: 50%;
							left: 0;
							.z-index(0);
						}
						.nav-list{
							.abs();
							right: 0;
							top: 0;
							background: #fff;
							.z-index(8);
							.l-h(14px);
							span{
								padding: 0 10px;
								.font-s(14px);
								.l-h(14px);
								.d-ib();
								color: #bbb;
								.c-point();
								&:first-child{
									border-right: 1px solid #bbb;
								}
								&.current{
									color: #47acf2;
								}
								&:hover{
									color: #47acf2;
								}
								&:hover.disabled{
									color: #bbb;
									cursor: not-allowed;
								}
							}
						}
					}
					.echarts-box{
						width: 100%;
						height: 350px;
						margin-bottom: 20px;
					}
					.module2-list{
						.abs();
						top: 40px;
						left: 0;
						width: 200px;
						li{
							.text-c();
							padding-top: 15px;
							height: 72px;
							border-bottom: 1px solid #ddd;
							
							&:last-child{
								height: 173px;
								border: none;
							}
							p{
								color: #222;
								&:first-child{
									.font-s(20px);
								}
								&:nth-child(2){
									.font-s(16px);
								}
								&:nth-child(3){
									.font-s(16px);
									.font-wb();
									span{
										.font-s();
										.font-wn();
									}
								}
							}
							.module2-pie{
								height: 100px;
							}
						}
					}
				}
				.module3-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}
				}
				.module3-list{
					width: 100%;
					.clearfix();
					margin-top: 20px;
					
					.list-type{
						width: 50%;
						.fl();
						&:first-child{
							.bold-list{
								border-right: 1px solid #bbb;
							}
							.small-list{
								border-left: 1px solid #bbb;
								border-right: 1px solid #bbb;
							}
						}
						&:last-child{
							.small-list{
								border-right: 1px solid #bbb;
							}
						}
						.bold-list{
							width: 100%;
							.b-sizing();
							background: #eee;
							span{
								.d-ib();
								.text-c();
								.l-h(32px);
								.font-s(14px);
								color: #47acf2;
								.b-sizing();
								white-space: nowrap;
							    // /* overflow: hidden; */
							    text-overflow: ellipsis;
								border-bottom: 1px solid #bbb;
								&:nth-child(1){
									width: 15%;
								}
								&:nth-child(2){
									width: 27%;
								}
								&:nth-child(3){
									width: 36%;
									.text-r();
								}
								&:nth-child(4){
									width: 22%;
								}
							}
						}
						.small-list{
							width: 100%;
							.b-sizing();
							&:nth-child(odd){
								background: #eee;
							}
							span{
								.d-ib();
								.text-c();
								.l-h(32px);
								.font-s(14px);
								color: #222;
								.b-sizing();
								border-bottom: 1px solid #bbb;
								&:nth-child(1){
									width: 15%;
								}
								&:nth-child(2){
									width: 27%;
								}
								&:nth-child(3){
									width: 36%;
									.text-r();
								}
								&:nth-child(4){
									width: 22%;
								}
							}
						}
					}
				}
				.module4-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}
				}
			}
			.module-echarts{
				width: 100%;
				height: 350px;
				margin-top: 20px;
			}
		}
		// Indicator less begin 2016.12.7
		.Indicator-nav{
			.clearfix();
			.maxBody(100%,36px);
		}
		.Indicator-module{
			.Indic-header{
				margin-top: 30px;
			    .d-ib();
			    .maxBody(100%,auto);
				.Indic-header-choose{
					.maxBody(60%,auto);
					.fl();
					clear:both;
					form{
						label{
							.pos (r);
							.choose-input{
								.z-index(100);
								.maxBody(20px,20px);
								.opa(0);
								border:1px solid #ccc;
								background-color:#fff;
								vertical-align:middle; 
								margin-top:0;
							}
							.choose-box{
								.pos (a);
						        top: 0;
						        left: 0;
						        .maxBody(20px,20px);
						        img {
							        .pos (a);
							        .maxBody(20px,20px);
							    }
							}
							.choose-input:checked{
								background: url(../../images/exponent-pay/check.png) no-repeat;
							}
							label{
								margin-left: 15px;
    							margin-right: 40px;
							}
						}
					}
				}
				.Indic-header-expl{
					.maxBody(40%,auto);
					.fr();
					img{
						.fr();
						.c-point();
					}
				}
			}
			.indicatorTable{
				margin-top:40px;
				.maxBody(100%,520px);
				.pos (r);
				.border-top-left-radius(6px);
				.border-top-right-radius(6px);
				.indicator-content{
				    border: 1px solid #e5e5e5;
					.maxBody(100%,520px);
					.pos (r);
				    .border-top-left-radius(6px);
					.border-top-right-radius(6px);
				    .b-sizing();
				    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
				    ::-webkit-scrollbar{  
				    	.maxBody(16px,20px);
					    background-color: #edeff5;  
					}  
					/*定义滚动条轨道 内阴影+圆角*/  
					::-webkit-scrollbar-track{  
						.box-shadow(none);
					    background-color: #edeff5;  
					}
					/*定义滑块 内阴影+圆角*/  
					::-webkit-scrollbar-thumb{  
					    .maxBody(6px,6px); 
					    .border-radius(10px);
					    .box-shadow(none);
					    .blue-gradient-x();
					}  
				   	.slimtable-container-div{
			   		    overflow-x: scroll; 
			   		    overflow-y: hidden;
			   		    .maxBody(auto,520px); 
				   	}
				   	.fixed-table-container{
				   		clear: none; 
    					border: 0px solid #e5e5e5; 
				   		.indicTable{
				    		border-collapse: collapse;
					    	thead{
					    		th{
					    			.tr();
					    			.pos (r);
					    			.font-s(16px);
								    .font-wn();
									.user-select(none);
									.text-r();
					    			word-break: keep-all;/*必须*/
					    			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46d2fb), to(#49befc));
									border-right: 1px solid #fff;
									color: #fff;
								    padding: 10px 20px;
									white-space: nowrap;
									.slimtable-activeth {
										background-color: #2a487f;
									}
									/* Sprites */
									.both{
										background-image: url(../../images/exponent-pay/sortBoth.png);
									}
									.asc{
										background-image: url(../../images/exponent-pay/sortAsc.png);
									}
									.desc{
										background-image: url(../../images/exponent-pay/sortDesc.png);
									}
									&:nth-child(1){
										.d-ib();
						    			.maxBody(200px,auto); 
		    							.pos (a);
		    							.z-index(50);
		    							.text-l();
		    							background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#46d2fb), to(#49befc));
		    							padding: 10px 20px;
									    border-right: 1px solid #ddd;
		    							border-left: 0;
									}
									&:nth-child(2){
					    				padding-left:250px;
					    			}
					    		}
					    		.thhidden{
				    				display: none;
				    			}
					    	}
					    	tbody{
					    		tr{
					    			td{
					    				.font-s(16px);
					    				.text-r();
					    				border-bottom: 1px solid #e5e5e5;
									    color: #4b4b4b;
									    padding: 10px 20px;
									    border-left: 0px solid #e5e5e5;
									    word-break:keep-all;
									    &:nth-child(1){
							    			.d-ib();
							    			.maxBody(200px,auto); 
			    							.pos (a);
			    							.z-index(50);
			    							.text-l();
			    							background: #fff;
			    							padding: 10px 20px;
		    							    border: 1px solid #ddd;
		    								border-left: 0;
							    		}
							    		&:nth-child(2){
						    				padding-left:250px;
						    			}	
					    			}
					    			.thhidden{
					    				display: none;
					    			}
					    					    		
						    	}
					    	}
					    }
				   	}

				}
			}
			.indicator-nodata{
				margin-top:40px;
				.maxBody(100%,300px);
				.pos (r);
				.border-radius(6px);
				background:#EDEEF5; 	
				img{
					.maxBody(284px,284px);
				    display: block;
					margin: auto auto;
				}
			}
		}
		// Indicator less end
	}
}