@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
@import "../../common/style/color";

@bgColor: #F8F8F8;
@borderColor: #bbb;
@borderShadow: 0 5px 20px rgba(0,0,0,.05);
.publicMoudle(){
	.b-sizing();
	background: @bgColor;
	.box-shadow(@borderShadow);
	.border-radius(6px);
}
.container-pay{
	@allWidth: 1100px;
	@navWidth: 175px;
	.maxBody(@allWidth,100%);
	.bc();
	.clearfix();
	.publicMoudle();
	.pay-nav{
		width: @navWidth;
		.fl();
		ul{
			li{
				.l-h(80px);
				.rel();
				a{
					.d-ib();
					.maxBody(@navWidth,100%);
					padding-left: 20px;
					.b-sizing();
					.font-s(16px);
					color: #4b4b4b;
				}
				&:first-child{
					border-top-left-radius: 6px;
				}
				&:last-child{
					border-bottom-left-radius: 6px;
				}
				&:hover{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				&.current{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				.iconfont{
					.font-s(14px);
					.abs();
					right: 21px;
					top: 0;
					color: @bgColor;
				}
			}
		}
	}
	.pay-section{
		width: @allWidth - @navWidth;
		.rel();
		margin-left: @navWidth;
		min-height: 520px;
		background: #fff;
		.box-shadow(@borderShadow);
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		.b-sizing();
		padding: 30px 30px 60px;
		.select-module{
			.fl();
			.b-sizing();
			padding: 0 30px 0 25px;
			border: 1px solid @borderColor;
			margin-right: 30px;
			.border-radius(6px);
			.c-point();
			.rel();
			.titles{
				.rel();
				.d-ib();
				left: -25px;
				padding: 5px 20px 5px 20px;
				.z-index(99);
				color: #4b4b4b;
				.font-s(16px);
				width: 100%;
			}
			.iconfont{
				.font-s(20px);
				.abs();
				right: 21px;
				top: 5px;
				color: #ccc;
			}
			.nav-list-page{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid @borderColor;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 213px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 212px;
						top: 0;
						width: 117px;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 329px;
						top: 0;
						width: 412px;
						span{
							.d-ib();
							width: 137px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 21px;
							top: 0;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
			.nav-list-region{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 213px;
				padding: 0px 16px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
			.nav-list-datatime{
				.abs();
				.z-index(99);
				margin-left: -20px;
				top: 31px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid #D7DBE5;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 201px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 201px;
						top: 0;
						width: 100px;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 301px;
						top: 0;
						width: 400px;
						span{
							.d-ib();
							width: 133px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 11px;
							top: 2px;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
		}
		.button-module{
			@color: #49befc;
			@size: 6px;
			.fl();
			input{
				.l-h(30px);
				padding: 0 19px;
				margin-left: 10px;
				.border-radius(@size);
				border: 1px solid @color;
				color: @color;
				.c-point();
				.font-fm();
				.font-s(16px);
				&:hover{
					background: @color;
					color: #fff;
				}
			}
		}
		.pay-section-nav{
			.clearfix();
			width: 100%;
			height: 32px;
			.nav-small-area{
				width: 146px;
				padding: 0 20px 0 20px;
				.titles {
					left: -20px;
				}
				.nav-list-region-checked{
					width: 100%;
					.abs();
					max-height: 140px;
					height: auto;
					overflow-y: auto;
					.publicMoudle();
					margin: 0;
					left: 0;
					top: 30px;
					.d-n();
					background: #fff;
					li{
						.b-sizing();
						.l-h(23px);
						.font-s(16px);
						color: #4b4b4b;
						padding: 0 15px;
						&:hover{
							.blue-gradient-x();
							color: #fff;
						}
						&:hover.disable{
							color: #4b4b4b;
							opacity: 0.5;
							background: none;
							cursor: not-allowed;
						}
						&:hover.current{
							.blue-gradient-x();
							color: #fff;
						}
						&.current{
							color: #49befc;
						}
					}
				}
			}
			.nav-large-time{
				width: 203px;
				padding: 0 20px 0 20px;
				.titles {
					left: -20px;
				}
			}
		}
		.survey-module{
			.clearfix();
			margin-top: 30px;
			.survey-module-title{
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
				.maxBody(100%,38px);
				.l-h(38px);
				padding-left: 20px;
				.b-sizing();
				.blue-gradient-x();
				color: #fff;
			}
			.survey-module-content{
				border: 1px solid @borderColor;
				border-top: none;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				padding: 20px 40px 25px 20px;
				.survey-module-list{
					width: 100%;
					.rel();
					.title{
						width: 100%;
						.rel();
						margin-bottom: 20px;
						p{
							.font-s(16px);
							color: #ddd;
							.rel();
							.z-index(9);
							.d-i();
							padding-right: 15px;
							background: #fff;
						}
						&:after{
							content: '';
							.d-ib();
							.abs();
							width: 100%;
							height: 1px;
							background: #ddd;
							top: 50%;
							left: 0;
							.z-index(0);
						}
						.nav-list{
							.abs();
							right: 0;
							top: 0;
							background: #fff;
							.z-index(9);
							.l-h(14px);
							span{
								padding: 0 10px;
								.font-s(14px);
								.l-h(14px);
								.d-ib();
								color: #bbb;
								.c-point();
								&:first-child{
									border-right: 1px solid #bbb;
								}
								&.current{
									color: #47acf2;
								}
								&:hover{
									color: #47acf2;
								}
							}
						}
					}
					.echarts-box{
						width: 100%;
						height: 350px;
						margin-bottom: 20px;
					}
					.module2-list{
						.abs();
						top: 40px;
						left: 0;
						width: 200px;
						li{
							.text-c();
							padding-top: 15px;
							height: 72px;
							border-bottom: 1px solid #ddd;
							
							&:last-child{
								height: 173px;
								border: none;
							}
							p{
								color: #222;
								&:first-child{
									.font-s(20px);
								}
								&:nth-child(2){
									.font-s(16px);
								}
								&:nth-child(3){
									.font-s(16px);
									.font-wb();
									span{
										.font-s();
										.font-wn();
									}
								}
							}
							.module2-pie{
								height: 100px;
							}
						}
					}
				}
				.module3-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}
				}
				.module3-list{
					width: 100%;
					.clearfix();
					margin-top: 20px;
					
					.list-type{
						width: 50%;
						.fl();
						&:first-child{
							.bold-list{
								border-right: 1px solid #bbb;
							}
							.small-list{
								border-left: 1px solid #bbb;
								border-right: 1px solid #bbb;
							}
						}
						&:last-child{
							.small-list{
								border-right: 1px solid #bbb;
							}
						}
						.bold-list{
							width: 100%;
							.b-sizing();
							background: #eee;
							span{
								.d-ib();
								.text-c();
								.l-h(32px);
								.font-s(14px);
								color: #47acf2;
								.b-sizing();
								border-bottom: 1px solid #bbb;
								&:nth-child(1){
									width: 15%;
								}
								&:nth-child(2){
									width: 27%;
								}
								&:nth-child(3){
									width: 36%;
									.text-r();
								}
								&:nth-child(4){
									width: 22%;
								}
							}
						}
						.small-list{
							width: 100%;
							.b-sizing();
							&:nth-child(odd){
								background: #eee;
							}
							span{
								.d-ib();
								.text-c();
								.l-h(32px);
								.font-s(14px);
								color: #222;
								.b-sizing();
								border-bottom: 1px solid #bbb;
								&:nth-child(1){
									width: 15%;
								}
								&:nth-child(2){
									width: 27%;
								}
								&:nth-child(3){
									width: 36%;
									.text-r();
								}
								&:nth-child(4){
									width: 22%;
								}
							}
						}
					}
				}
				.module4-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}
				}
			}
			.module-echarts{
				width: 100%;
				height: 350px;
				margin-top: 20px;
			}
		}
		// Indicator less begin 2016.12.7
		.Indicator-nav{
			.clearfix();
			width: 100%;
			height: 32px;
		}
		.Indicator-module{
			.Indic-header{
				margin-top: 30px;
			    display: inline-block;
			    width: 100%;
				.Indic-header-choose{
					width:60%;
					float:left;
					clear:both;
					form{
						label{
							.choose-input{
								width:20px;height:20px;border:1px solid #ccc;background-color:#fff;
								vertical-align:middle; margin-top:0;
							}
							.choose-input:checked{
								// border:1px solid #49bffc;
								// -webkit-appearance:none;
								// background-color: #49bffc;
								// color:#fff;
								// border-radius: 3px;
								background: url(../../images/exponent-pay/check.png) no-repeat;
							}
							
							// .choose-input:checked:after{
							// 	content:" √ ";
							// 	color:#fff;
							// 	text-align: center;
							// 	font-size: 16px;
							// 	font-weight: bold; 
							// }
							label{
								margin-left: 15px;
    							margin-right: 40px;
							}
						}
					}
				}
				.Indic-header-expl{
					width:40%;
					float:right;
					img{
						float:right;
						cursor:pointer;
					}
				}
			}
			.indicatorTable{
				margin-top:40px;
				width: 100%;
				position: relative;
				width: 100%;
			    height: 450px;
			    border-top-left-radius: 6px;
			    border-top-right-radius: 6px;
			    position: relative;
				.indicator-content{
					width: 100%;
					position: relative;
					width: 100%;
				    height: 450px;
				    border-top-left-radius: 6px;
				    border-top-right-radius: 6px;
				    position: relative;
				    .b-sizing();
				   	.slimtable-container-div{
			   		    overflow-x: scroll;
				   	}
			   		.indicTable{
			    		border-collapse: collapse;
						border: 1px solid #ddd;
				    	thead{

				    		th{
				    			word-break: keep-all;/*必须*/
				    			position: relative;
				    			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46d2fb), to(#49befc));
								border: 1px solid #ddd;
								color: #fff;
								text-align: left;
							    padding: 10px 20px;
							    font-size: 16px;
							    font-weight: normal;
								-ms-user-select: none;
								-moz-user-select: none;
								-webkit-user-select: none;
								user-select: none;
								white-space: nowrap;
								.slimtable-activeth {
									background-color: #2a487f;
								}
								/* Sprites */

								.slimtable-sprites {
									margin-left: 2px;
									margin-right: 5px;
									vertical-align: middle;

									display: inline-block;
									background: url(../../images/exponent-pay/sort.png) -16px 0 no-repeat;
									width: 7px;
									height: 9px;
								}

								.slimtable-sortboth {
									background-position: -1px -1px;
								}

								.slimtable-sortnone {
									background-position: -19px -19px;
								}

								.slimtable-sortasc {
									background-position: -1px -19px;
								}

								.slimtable-sortdesc {
									background-position: -19px -1px;
								}
				    		}
				    		.td0{
				    			display: inline-block;
								width: 200px;
    							position: absolute;
    							background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#46d2fb), to(#49befc));
    							z-index: 100;
    							padding: 10px 20px;
    							border-right: 1px solid #cacece;
				    		}
				    		.td1{
				    			padding-left:250px;
				    		}
				    	}
				    	tbody{
				    		tr{
				    			td{
				    				border-bottom: 1px solid #ddd;
								    color: #4b4b4b;
								    padding: 10px 20px;
								    font-size: 16px;
				    			}
				    			.td0{
					    			display: inline-block;
									width: 200px;
	    							position: absolute;
	    							background: #fff;
	    							z-index: 100;
	    							padding: 10px 20px;
	    							border: 1px solid #cacece;
					    		}
					    		.td1{
					    			padding-left:250px;
					    		}
				    		}
				    	}
				    	.slimtable-container-div {
							display: inline-block;
						}
				    }

				}
				.indicator_column{
					width: 100%;
					position: relative;
				    height: 434px;
				    overflow-x: scroll;
				    border: 1px solid #b9b1b1;
				    border-top-left-radius: 6px;
				    border-top-right-radius: 6px;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 184px;
				    overflow: hidden;
				    z-index: 1000;
				    background: #fff;
					.indicTable_column{
						overflow: hidden;
					    position: absolute;
					    z-index: 40;
					    top: 0px;
					    left: 0px;
					    border-collapse: collapse;
						border: 1px solid #ddd;
						border-collapse: collapse;
						border: 1px solid #ddd;
				    	thead{
				    		.td0{
				    			width:184px;
				    			position: absolute;
				    		}
				    		th{
				    			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46d2fb), to(#49befc));
								border: 1px solid #ddd;
								color: #fff;
								text-align: left;
							    padding: 10px 20px;
							    font-size: 16px;
							    font-weight: normal;
								-ms-user-select: none;
								-moz-user-select: none;
								-webkit-user-select: none;
								user-select: none;
								white-space: nowrap;
								.slimtable-activeth {
									background-color: #2a487f;
								}
								/* Sprites */

								.slimtable-sprites {
									margin-left: 2px;
									margin-right: 5px;
									vertical-align: middle;

									display: inline-block;
									background: url(../../images/exponent-pay/sort.png) -16px 0 no-repeat;
									width: 7px;
									height: 9px;
								}

								.slimtable-sortboth {
									background-position: -1px -1px;
								}

								.slimtable-sortnone {
									background-position: -19px -19px;
								}

								.slimtable-sortasc {
									background-position: -1px -19px;
								}

								.slimtable-sortdesc {
									background-position: -19px -1px;
								}
				    		}
				    	}
				    	tbody{
				    		tr{
				    			td{
				    				border: 1px solid #ddd;
								    color: #4b4b4b;
								    padding: 10px 20px;
								    font-size: 16px;
				    			}
				    		}
				    	}
				    	.slimtable-container-div {
							display: inline-block;
						}
				    }
				    /* Paging */
					.slimtable-paging-div {
						margin-top: 5px;
						display: inline-block;
						width: 100%;
						.slimtable-paging-seldiv {
							display: inline;
							float: right;
						}

						.slimtable-paging-select {
							margin-right: 10px;
							border-radius: 5px;
							border: 1px solid #ccc;
							padding: 3px;
						}

						.slimtable-paging-btnsdiv {
							display: inline-block;
						}

						.slimtable-page-btn {
							display: inline-block;
							width: 25px;
							height: 25px;
							line-height: 25px;
							border-radius: 5px;
							border: 1px solid #ccc;
							text-align: center;
							font-weight: bold;
							margin-right: 5px;
							cursor: pointer;
						}

						.slimtable-page-btn.active {
							background-color: #ccc;
						}
					}
				}
				.comment-split{
					margin-left: 60px;
					margin-top: 20px;
    				float: right;
					.disabled{
						display: none;
					}
					.current{
						.maxBody(24px,24px);
						border: 1px solid #49befc;
						background: #49befc;
						color: #fff;
						.font-s(14px);
						.d-ib();
						.text-c();
						.l-h(24px);
						border-radius: 50%;
						margin: 0 5px;
					}
					.pageNumber{
						.maxBody(24px,24px);
						border: 1px solid #49befc;
						color: #49befc;
						.font-s(14px);
						.d-ib();
						.text-c();
						.l-h(24px);
						border-radius: 50%;
						margin: 0 5px;
						&:hover{
							background: #49befc;
							color: #fff;
						}
					}
					.dian{
						margin: 0 5px;
						color: #49befc;
					}
					.buttons{
						padding: 2px 15px;
						.border-radius(15px);
						border: 1px solid #49befc;
						color: #49befc;
						.font-s(14px);
						.font-fm();
						.c-point();
						margin: 0 5px;
						&:hover{
							background: #49befc;
							color: #fff;
						}
					}
				}
			}
		}
		// Indicator less end
	}
}