@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
@import "../../common/style/color";

@bgColor: #F8F8F8;
@borderColor: #bbb;
@borderShadow: 0 5px 20px rgba(0,0,0,.05);
.publicMoudle(){
	.b-sizing();
	background: @bgColor;
	.box-shadow(@borderShadow);
	.border-radius(6px);
}
.container-pay{
	@allWidth: 1100px;
	@navWidth: 175px;
	.maxBody(@allWidth,100%);
	.bc();
	.clearfix();
	.publicMoudle();
	.pay-nav{
		width: @navWidth;
		.fl();
		ul{
			li{
				.l-h(80px);
				.rel();
				a{
					.d-ib();
					.maxBody(@navWidth,100%);
					padding-left: 20px;
					.b-sizing();
					.font-s(16px);
					color: #4b4b4b;
				}
				&:first-child{
					border-top-left-radius: 6px;
				}
				&:last-child{
					border-bottom-left-radius: 6px;
				}
				&:hover{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				&.current{
					.blue-gradient-x();
					a{
						color: #fff;
					}
				}
				.iconfont{
					.font-s(14px);
					.abs();
					right: 21px;
					top: 0;
					color: @bgColor;
				}
			}
		}
	}
	.pay-section{
		width: @allWidth - @navWidth;
		.rel();
		margin-left: @navWidth;
		min-height: 520px;
		background: #fff;
		.box-shadow(@borderShadow);
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		.b-sizing();
		padding: 30px 30px 60px;
		.select-module{
			.fl();
			.b-sizing();
			padding: 0 30px 0 25px;
			border: 1px solid @borderColor;
			margin-right: 30px;
			.border-radius(6px);
			.c-point();
			.rel();
			.titles{
				.rel();
				.d-ib();
				left: -25px;
				padding: 5px 30px 5px 25px;
				.z-index(99);
				color: #4b4b4b;
				.font-s(16px);
			}
			.iconfont{
				.font-s(20px);
				.abs();
				right: 21px;
				top: 5px;
				color: #ccc;
			}
			.nav-list-page{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				.border-radius(6px);
				.d-n();
				background: #fff;
				div{
					.d-ib();
					height: 320px;
					border-left: 1px solid @borderColor;
					.b-sizing();
					.rel();
					&.check-1{
						border: 0;
						width: 213px;
						p{
							span{
								padding: 0 66px 0 25px;
							}
						}
					}
					&.check-2{
						.abs();
						left: 212px;
						top: 0;
						width: 117px;
						p{
							span{
								padding: 0 40px 0 25px;
							}
						}
					}
					&.check-3{
						.abs();
						left: 329px;
						top: 0;
						width: 412px;
						span{
							.d-ib();
							width: 137px;
							.l-h(80px);
							.text-c();
							&.current{
								.blue-gradient-x();
								color: #fff;
							}
						}
					}
					
					p{
						@spanHeight: 80px;
						.d-ib();
						width: 100%;
						.l-h(@spanHeight);
						.rel();
						span{
							.rel();
							.d-ib();
							.b-sizing();
							width: 100%;
							height: 100%;
							z-index: 99;
						}
						i{
							.font-s(20px);
							.abs();
							right: 21px;
							top: 0;
							color: transparent;
						}
						&.current{
							.blue-gradient-x();
							color: #fff;
							.rel();
							i{
								color: #fff;
							}
						}
					}
				}
			}
			.nav-list-region{
				.abs();
				.z-index(99);
				margin-left: -25px;
				.clearfix();
				.b-sizing();
				.box-shadow(@borderShadow);
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				width: 213px;
				padding: 0px 16px;
				background: #fff;
				.d-n();
				.region{
					width: 100%;
					margin-top: 20px;
					p{
						.l-h(40px);
						.blue-gradient-x();
						.border-radius(6px);
						.b-sizing();
						color: #fff;
						padding: 0 40px 0 15px;
						.rel();
						.font-s(16px);
						.iconfont{
							.font-s(20px);
							.abs();
							right: 5px;
							top: 0;
						}
					}
					ul{
						max-height: 140px;
						height: auto;
						overflow-y: auto;
						.publicMoudle();
						margin: 0;
						.d-n();
						li{
							.b-sizing();
							.l-h(23px);
							.font-s(16px);
							color: #4b4b4b;
							padding: 0 15px;
							&:hover{
								.blue-gradient-x();
								color: #fff;
							}
							&:hover.disable{
								color: #4b4b4b;
								opacity: 0.5;
								background: none;
								cursor: not-allowed;
							}
							&:hover.current{
								.blue-gradient-x();
								color: #fff;
							}
							&.current{
								color: #49befc;
							}
						}
					}
				}
				.areaButton{
					@color: #49befc;
					@size: 14px;
					.l-h(30px);
					margin: 30px 0;
					padding: 0 30px;
					.border-radius(@size);
					border: 1px solid @color;
					.c-point();
					.font-s(14px);
					color: @color;
					.c-point();
					.font-fm();
					margin-left: 45px;
					&:hover{
					background: @color;
						color: #fff;
					}
				}
			}
		}
		.button-module{
			@color: #49befc;
			@size: 6px;
			.fl();
			input{
				.l-h(30px);
				padding: 0 19px;
				margin-left: 10px;
				.border-radius(@size);
				border: 1px solid @color;
				color: @color;
				.c-point();
				.font-fm();
				.font-s(16px);
				&:hover{
					background: @color;
					color: #fff;
				}
			}
		}
		.pay-section-nav{
			.clearfix();
			width: 100%;
			height: 32px;
		}
		.survey-module{
			.clearfix();
			margin-top: 30px;
			.survey-module-title{
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
				.maxBody(100%,38px);
				.l-h(38px);
				padding-left: 20px;
				.b-sizing();
				.blue-gradient-x();
				color: #fff;
			}
			.survey-module-content{
				border: 1px solid @borderColor;
				border-top: none;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				padding: 20px 40px 25px 20px;
				.survey-module-list{
					width: 100%;
					.rel();
					.title{
						width: 100%;
						.rel();
						margin-bottom: 20px;
						p{
							.font-s(16px);
							color: #ddd;
							.rel();
							.z-index(9);
							.d-i();
							padding-right: 15px;
							background: #fff;
						}
						&:after{
							content: '';
							.d-ib();
							.abs();
							width: 100%;
							height: 1px;
							background: #ddd;
							top: 50%;
							left: 0;
							.z-index(0);
						}
						.nav-list{
							.abs();
							right: 0;
							top: 0;
							background: #fff;
							.z-index(9);
							.l-h(14px);
							span{
								padding: 0 10px;
								.font-s(14px);
								.l-h(14px);
								.d-ib();
								color: #bbb;
								.c-point();
								&:first-child{
									border-right: 1px solid #bbb;
								}
								&.current{
									color: #47acf2;
								}
								&:hover{
									color: #47acf2;
								}
							}
						}
					}
					.echarts-box{
						width: 100%;
						height: 350px;
						margin-bottom: 40px;
					}
					.module2-list{
						.abs();
						top: 40px;
						left: 0;
						width: 200px;
						height: 347px;
						li{
							.text-c();
							padding-top: 15px;
							height: 72px;
							border-bottom: 1px solid #ddd;
							&:last-child{
								height: 173px;
							}
							.module2-pie{
								height: 110px;
							}
						}
					}
				}
				.module3-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}
				}
				.module4-nav{
					width: 100%;
					.text-r();
					span{
						padding: 0 10px;
						border-right: 1px solid #ddd;
						color: #bbb;
						.l-h(14px);
						.d-ib();
						&:last-child{
							border: none;
						}
						&.current{
							color: #47acf2;
						}
						&:hover{
							color: #47acf2;
							.c-point();
						}
					}

				}
			}
			.module-echarts{
				width: 100%;
				height: 350px;
			}
		}
	}
}