@charset "utf-8";
@import "../../common/style/z";
.pay-section{
	ul,li{ list-style: none}
    .tabClick{ background: #f3f3f3; overflow: hidden}
    .tabClick li{ height:40px; line-height: 40px; width: 25%; float: left; text-align: center}
    .tabClick li.active{ color: #49bffc; transition: 0.1s; font-weight: bold}
    .tabCon{ overflow: hidden}
    .tabBox{ position: relative}
    .tabList{word-break: break-all; width:100%;float:left; line-height:100px; text-align:center; color:#D3D3D3; font-size:36px; font-family: "Arial Black"}
    .lineBorder{ height: 2px; overflow: hidden; border-bottom:1px solid #49bffc; background: #f3f3f3}
    .lineDiv{ background: #49bffc; height: 2px; width: 25%;}

}