@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
@import "../../common/style/color";


@bodyWidth: 1100px;
@bgColor: #fff;
@borderShadow: 0 5px 20px rgba(0,0,0,.05);
.publicMoudle(){
	.b-sizing();
	background: @bgColor;
	.box-shadow(@borderShadow);
	border-radius: 6px;
	margin-top: 30px;
}
.container-regional{
	width: @bodyWidth;
	.bc();
	.regional-nav{
		.maxBody(100%,50px);
		.publicMoudle();
		.font-s(16px);
		.font-fm();
		color: #4b4b4b;
		margin-top: 60px;
		.select-module{
			@navWidth: 213px;
			@navHeight: 50px;
			.fl();
			.maxBody(@navWidth,@navHeight);
			.l-h(@navHeight);
			.b-sizing();
			padding: 0 66px 0 25px;
			border-right: 1px solid #D7DBE5;
			.c-point();
			.rel();
			.iconfont{
				.font-s(20px);
				.abs();
				right: 21px;
				top: 0;
			}
		}
		.map-module{
			@mapWidth: 100px;
			@mapHeight: 50px;
			.fl();
			.maxBody(@mapWidth,@mapHeight);
			.l-h(@mapHeight);
			.b-sizing();
			.text-c();
		}
		.button-module{
			@color: #49befc;
			@size: 14px;
			.fl();
			.l-h(30px);
			margin: 10px 0;
			padding: 0 @size;
			.border-radius(@size);
			border: 1px solid @color;
			.c-point();
			input{
				.font-s(14px);
				color: @color;
				.c-point();
				.font-fm();
			}
		}
		.share-module{
			@Width: 40px;
			@Height: 40px;
			.fr();
			.maxBody(@Width,@Height);
			margin: 5px 15px;
			.l-h(40px);
			.text-c();
			.iconfont{
				.font-s(30px);
				.c-point();
				.green-gradient();
				.background-clip(text);
				-webkit-text-fill-color: transparent;
    			text-transform: uppercase;
			}
		}
	}
	.regional-pie{
		width: 100%;
		.publicMoudle();
		.clearfix();
		.pie{
			width: 50%;
			display: inline-block;
			float: left;
			padding: 0 25px 30px 25px;
			.b-sizing();
			.pie-canvas{
				.maxBody(100%,380px);
				.pie1,.pie2{
					.maxBody(325px,380px);
				}
			}
			.pie-title{
				.font-s(16px);
				color: #d1d6e1;
				.l-h(16px);
				.rel();
				.font-fm();
				.b-sizing();
				&:after{
					content: "";
					.d-ib7();
					.maxBody(85%,1px);
					.abs();
					top: 8px;
					left: 0;
					.ba-c(#d1d6e1);
					margin-left: 15%;
				}
			}
			.pie-content{
				.font-s(14px);
				color: #333;
				margin-top: 12px;
				.font-fm();
			}
		}
		.pie-jiaoyi{
			border-right: 1px dashed #333;
		}
	}
	.regional-bar{
		.maxBody(100%,530px);
		.publicMoudle();
		.bar-checked{
			.maxBody(100%,80px);
			input[type="button"]{
				padding: 8px 20px;
				border-radius: 20px;
				margin: 10px 0 10px 25px;
				.font-s(16px);
				.font-fm();
				color: #4b4b4b;
				background: none;
				.c-point();
				&.current{
					color: #fff;
					.yellow-gradient-x();
				}
			}
		}
		.bar{
			.maxBody(100%,450px);
		}
	}
	.regional-list{
		.maxBody(100%,550px);
		.publicMoudle();
		padding: 80px 25px 40px 25px;
		.rel();
		.regional-list-header{
			.abs();
			.font-s(16px);
			top: 20px;
			left: 25px;
			color: #4b4b4b;
		}
		.swiper-slide{
			border: 1px solid #eee;
			border-radius: 6px;
			.title{
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				.l-h(50px);
				.text-c();
				.font-fm();
				.font-s(16px);
				color: #fff;
			}
			ul{
				.maxBody(100%,380px);
				li{
					.l-h(76px);
					.text-c();
					color: #4b4b4b;
					.font-s(16px);
					i{
						.d-ib();
						.maxBody(30px,30px);
						.border-radius(50%);
						border: 1px solid #4b4b4b;
						.text-c();
						.l-h(30px);
						margin-right: 10px;
						font-style:normal;
					}
				}
			}
		}
		.type1{
			.blue-gradient-x();
		}
		.type2{
			.qing-gradient-x();
		}
		.type3{
			.green-gradient-x();
		}
		.type4{
			.yellow-gradient-x();
		}
		.swiper-button{
			background: url('../../images/regional/ico.png') no-repeat;
		    position: absolute;
		    top: 50%;
		    width: 56px;
		    height: 110px;
		    margin-top: -55px;
		    z-index: 10;
		    cursor: pointer;
		    &.next{
		    	right: 0;
		    	background-position: -56px 0;
		    }
		    &.prev{
		    	left: 0;
		    }
		    &.swiper-button-disabled{
		    	opacity: .35;
		    }
		}
	}
}