@charset "utf-8";
@import "../../common/style/z";
.container-info {
    width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    .font-fm();
    .Carousel {
        .maxBody(100%, 300px);
        .pos (r);
        .b-sizing();
        margin-bottom: 30px;
        clear: both;
        .swiper-container {
            .maxBody(715px, 300px);
            float: left;
            border-radius: 6px;
            .swiper-wrapper {
                .swiper-slide {
                    .tc();
                    font-size: 18px;
                    background: #fff;
                    /* Center slide text vertically */
                    .d-flex-h();
                    .flex-hc();
                    .flex-vc();
                    img {
                        .maxBody(100%, auto);
                    }
                    span {
                        .maxBody(100%, 50px);
                        .font-s(20px);
                        .pos (a);
                        .font-wb();
                        .tl();
                        .tn();
                        .d-b();
                        .txt-ver(2.5);
                        bottom: 0px;
                        left: 0px;
                        z-index: 10;
                        background: rgba(0, 0, 0, 0.6);
                        color: #fff;
                        overflow: hidden;
                        padding-left: 25px;
                        padding-right: 25px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        .b-sizing();
                    }
                }
            }
            .swiper-pagination {
                .swiper-pagination-bullet-active {
                    opacity: 1;
                    background: #fff;
                }
            }
        }
        .advert {
            .maxBody(355px, 300px);
            float: right;
            img {
                .maxBody(355px, 300px);
                border-radius: 6px;
            }
            span {
                .maxBody(355px, 50px);
                .font-s(20px);
                .pos (a);
                .font-wb();
                .tl();
                .tn();
                .d-b();
                .txt-ver(2.5);
                bottom: 0px;
                z-index: 10;
                background: rgba(0, 0, 0, 0.6);
                color: #fff;
                overflow: hidden;
                padding-left: 25px;
                padding-right: 25px;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 0 0 6px 6px;
                .b-sizing();
            }
        }
    }
    .con {
        .maxBody(100%, auto);
        .pos (r);
        .b-sizing();
        clear: both;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
        // min-height: 400px;
        .information {
            .maxBody(100%, auto);
            .titlebar {
                .maxBody(100%, 50px);
                background: #fff;
                border-radius: 6px;
                margin-bottom: 20px;
                p {
                    margin-left: 25px;
                    line-height: 3;
                }
                span {
                    font-size: 16px;
                    color: #4b4b4b;
                }
                label {
                    font-size: 14px;
                    color: #edeff4;
                }
            }
            .top {
                .maxBody(1100px, 15px);
                .b-sizing();
                img {
                    .maxBody(30px, auto);
                    float: left;
                }
                .topL {
                    .maxBody(715px, 15px);
                    background: #fff;
                    border-radius: 6px 0 0 0;
                    float: left;
                    clear: both;
                }
                .topR {
                    .maxBody(355px, 15px);
                    background: #fff;
                    border-radius: 0 6px 0 0;
                    float: left;
                }
            }
            .bottom {
                .maxBody(1100px, 15px);
                .b-sizing();
                img {
                    .maxBody(30px, auto);
                    float: left;
                }
                .topL {
                    .maxBody(715px, 15px);
                    background: #fff;
                    border-radius: 0 0 0 6px;
                    float: left;
                    clear: both;
                }
                .topR {
                    .maxBody(355px, 15px);
                    background: #fff;
                    border-radius: 0 0 6px 0;
                    float: left;
                }
            }
            .content {
                .maxBody(1100px, auto);
                .b-sizing();
                height: auto!important;
                overflow: auto;
                min-height: 780px !important;
                clear: both;
                background: #fff;
                .left {
                    .maxBody(730px, auto);
                    .b-sizing();
                    // .pos (a);
                    min-height: 400px;
                    float: left;
                    clear: both;
                    border-right: 1px dashed #e5e5e5;
                    ul {
                        .maxBody(730px, auto);
                        .b-sizing();
                        padding-left: 25px;
                        li {
                            .maxBody(100%, auto);
                            .b-sizing();
                            padding-right: 15px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            float: left;
                            clear: both;
                            .inlinea {
                                display: inline-block;
                                width: 100%;
                                text-decoration: none;
                            }
                            div {
                                .maxBody(100%, auto);
                                min-height: 100px;
                                margin-bottom: 5px;
                                img {
                                    .maxBody(240px, auto);
                                    .b-sizing();
                                    float: right;
                                    clear: both;
                                    margin-left: 30px;
                                    margin-bottom: 30px;
                                }
                                div {
                                    .maxBody(auto, auto);
                                    .b-sizing();
                                    .time {
                                        font-size: 14px;
                                        margin-top: 7px;
                                        color: #bbbbbb;
                                    }
                                    .title {
                                        font-weight: bold;
                                        color: #222222;
                                        font-size: 18px;
                                    }
                                    p {
                                        color: #4b4b4b;
                                        font-size: 16px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                            hr {
                                .maxBody(100%, auto);
                                border: 1px solid #e5e5e5;
                            }
                        }
                    }
                    .buttom {
                        .maxBody(100%, 90px);
                        .b-sizing();
                        .pos (r);
                        .tc();
                        float: left;
                        clear: both;
                        button {
                            .maxBody(170px, 37px);
                            .tc();
                            .font-s(16px);
                            cursor: pointer;
                            margin: auto;
                            color: #49bffc;
                            border-radius: 26px;
                            margin-top: 20px;
                            border: 2px solid #49bffc;
                            background: rgba(255, 255, 255, 0);
                            outline: none;
                        }
                    }
                }
                .right {
                    .maxBody(370px, auto);
                    .b-sizing();
                    .pos (a);
                    min-height: 400px;
                    padding-left: 15px;
                    padding-right: 30px;
                    float: right;
                    clear: both;
                    right: 0;
                    .ranking {
                        .maxBody(100%, 400px);
                        .wrap {
                            width: 100%;
                            height: 400px;
                            box-sizing: border-box;
                            font-family: "Microsoft Yahei ui", "微软雅黑";
                        }
                        .header {
                            display: inline;
                            line-height: 2.5;
                        }
                        ul,
                        li {
                            list-style: none;
                        }
                        .tabList-active{
                           animation:myfirst 1.5s;
                           -moz-animation:myfirst 1.5s; //Firefox
                           -webkit-animation:myfirst 1.5s; //Safari and Chrome
                           -o-animation:myfirst 1.5s; //Opera
                       }
                       @keyframes myfirst
                       {
                       from {   opacity: 0;}
                       to {    opacity: 1;}
                       }
                       
                       @-moz-keyframes myfirst /*  Firefox  */
                       {
                       from {   opacity: 0;}
                       to {    opacity: 1;}
                       }
                       
                       @-webkit-keyframes myfirst /* Safari and Chrome */
                       {
                       from {   opacity: 0;}
                       to {    opacity: 1;}
                       }
                       
                       @-o-keyframes myfirst /* Opera */
                       {
                       from {   opacity: 0;}
                       to {    opacity: 1;}
                       } 
                        .tabClick {
                            width: 30%;
                            float: right;
                            overflow: hidden
                        }
                        .tabClick li {
                            width: 25%;
                            float: left;
                            text-align: center;
                            color: #bbbbbb;
                            font-size: 16px;
                            cursor: pointer;
                        }
                        .tabClick span {
                            // width: 25%;
                            float: left;
                            text-align: center;
                            color: #bbbbbb;
                            font-size: 16px;
                        }
                        .tabClick li.active {
                            color: #49befc;
                            transition: 0.1s;
                            font-weight: bold
                        }
                        .tabCon {
                            width: 330px;
                            overflow: hidden
                        }
                        .tabBox {
                            position: relative;
                            // opacity: 0;
                        }
                        .tabList {
                            word-break: break-all;
                            width: 330px;
                            float: left;
                            line-height: 1.7;
                            text-align: left;
                            font-size: 16px;
                            color: #4b4b4b;
                        }
                        .tabList a {
                            font-size: 16px;
                            width: 330px;
                            color: #4b4b4b;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            line-height: 1.5;
                        }
                        .lineBorder {
                            height: 2px;
                            overflow: hidden;
                            border-bottom: 1px solid #099;
                            background: #f3f3f3;
                            display: none;
                        }
                        .lineDiv {
                            background: #099;
                            height: 2px;
                            width: 25%;
                        }
                        .wrap .title {
                            float: left;
                            font-size: 18px;
                        }
                        .wraphr {
                            width: 100%;
                        }
                        .tabList>ul {
                            display: inline-block;
                            padding: 0;
                            margin: 0;
                            
                        }
                        .tabList>ul>li>a {
                            display: inline-block;
                        }
                        .tabList>ul>li>a label {
                            width: 40px;
                            float: left;
                            color:#bbbbbb;
                        }
                        .tabList>ul>li>a p {
                            display: inline;
                            float: left;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 290px;
                            overflow: hidden;
                            margin: 0;
                        }
                         .tabList>ul>li>a .label01,
                         .tabList>ul>li>a .label02,
                         .tabList>ul>li>a .label03{
                            color:#4b4b4b;
                        }
                    }
                    hr {
                        border: 1px solid #e5e5e5;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    .type {
                        margin-top: 60px;
                        .title {
                            font-size: 18px;
                            color: #222222;
                        }
                        a{
                            filter:chroma(color=#000000);
                            button {
                                border: none;
                                background: none;
                                outline: none;
                                p {
                                    cursor: pointer;
                                    font-size: 16px;
                                    color: #4b4b4b;
                                    line-height: 2;
                                }
                            }
                        }
                    }
                    .Popular {
                        margin-top: 60px;
                        .title {
                            font-size: 18px;
                            color: #222222;
                        }
                        a{
                             filter:chroma(color=#000000);
                              button {
                                border: none;
                                background: none;
                                outline: none;
                                p {
                                    // .maxBody(150px,50px);
                                    .tc();
                                    .font-s(14px);
                                    .b-sizing();
                                    cursor: pointer;
                                    color: #49befc;
                                    border-radius: 20px;
                                    margin-top: 20px;
                                    margin-right: 20px;
                                    border: 2px solid #49befc;
                                    padding: 7px 14px 7px 14px;
                                    float: left;
                                }
                            }
                        }
                    }
                }
                .clearfloat {
                    visibility: hidden;
                    display: block;
                    font-size: 0;
                    content: ".";
                    clear: both;
                    height: 0;
                    clear: both;
                    height: 0;
                    font-size: 1px;
                    line-height: 0px;
                }
            }
        }
    }
    .con:after {
        clear: both;
        /*清除左右两边浮动。*/
        visibility: hidden;
        .maxBody(100%, auto);
        .pos (r);
        .b-sizing();
    }
}
