@charset "utf-8";
@import "../../common/style/z";
.container-about {
    .maxBody(100%,auto);
    .font-fm();
    .staticPart{
        .maxBody(100%,auto);
        .introduce{
            .b-sizing();
            .maxBody(100%,553px);
            FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d1d6e1,endColorStr=#fff); /*IE 6 7 8*/ 
            background: -ms-linear-gradient(top, #d1d6e1,  #fff);        /* IE 10 */
            background:-moz-linear-gradient(top,#d1d6e1,#fff);/*火狐*/ 
            background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d1d6e1), to(#fff));/*谷歌*/ 
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d6e1), to(#fff));      /* Safari 4-5, Chrome 1-9*/
            background: -webkit-linear-gradient(top, #d1d6e1, #fff);   /*Safari5.1 Chrome 10+*/
            background: -o-linear-gradient(top, #d1d6e1, #fff);  /*Opera 11.10+*/
            .content{
                margin: auto;
                .b-sizing();
                .maxBody(867px,auto);
                img{
                    margin-top:80px;
                }
            }
        }
        .coreContent{
            .b-sizing();
            .maxBody(100%,auto);
            background: #ffffff;
            .content{
                 margin: auto;
                .b-sizing();
                .maxBody(794px,553px);
                img{
                    margin-top:0px;
                }
            }
        }
        .dema{
            .b-sizing();
            .maxBody(100%,auto);
            background: #edeff5;
             .content{
                 margin: auto;
                .b-sizing();
                .maxBody(100%,660px);
                img{
                    // .maxBody(540px,auto);
                    margin-top: 0px;
                }
            }
        }
        .repo{
            .b-sizing();
            .maxBody(100%,auto);
            FILTER:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f8b57c,endColorStr=#f7d67f); /*IE 6 7 8*/ 
            background: -ms-linear-gradient(to right, #f8b57c,  #f7d67f);        /* IE 10 */
            background:-moz-linear-gradient(left,#f8b57c,#f7d67f);/*火狐*/ 
            background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f8b57c), to(#f7d67f));/*谷歌*/ 
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8b57c), to(#f7d67f));      /* Safari 4-5, Chrome 1-9*/
            background: -webkit-linear-gradient(left, #f8b57c, #f7d67f);   /*Safari5.1 Chrome 10+*/
            background: -o-linear-gradient(left, #f8b57c, #f7d67f);  /*Opera 11.10+*/
             .content{
                 margin: auto;
                .b-sizing();
                .maxBody(100%,291px);
                img{
                    // .maxBody(690px,291px);
                    margin: auto
                }
            }
        }
    }

}
