@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";
// body{
//     .container{
//         .content{
//             .nav{
//                  margin-bottom: 0px;
//             }
//         }
//     }
// }
.container-about {
    .maxBody(100%,auto);
    .font-fm();
    .staticPart{
        .maxBody(100%,auto);
        .tianji{
            .b-sizing();
            .maxBody(100%,auto);
            .linear-gradient(#d1d6e1,#fff);
            .content{
                margin: auto;
                .b-sizing();
                .maxBody(867px,auto);
                img{
                    margin-top:80px;
                }
            }
        }
        .platform{
            .b-sizing();
            .maxBody(100%,auto);
            background: #fdfefe;
            .content{
                 margin: auto;
                .b-sizing();
                .maxBody(794px,553px);
                img{
                    margin-top:0px;
                }
            }
        }
        .visualization{
            .b-sizing();
            .maxBody(100%,auto);
            // background-image: url(../../images/about/tianji4.jpg);
            // background-repeat: repeat-x;
             .content{
                 margin: auto;
                .b-sizing();
                .maxBody(540px,660px);
                img{
                    // visibility: hidden;
                    margin-top: 0px;
                }
            }
        }
        .output{
            .b-sizing();
            .maxBody(100%,auto);
            padding-top: 90px;
            padding-bottom: 100px;
            .linear-gradient(#8bd2f9,#89def9); 
            .content{
                 margin: auto;
                .b-sizing();
                .maxBody(690px,291px);
                img{
                    margin: auto
                }
            }
        }
    }
    .swither-container{
        .maxBody(100%,auto);
        .b-sizing();
        .font-fm();        
        padding-top: 80px;
        p{
            text-align: center;
            color: #222222;
            font-size: 24px;
            margin-bottom: 40px;
        }
        a{
            font-size: 24px;
            color: #bbbbbb;
            margin-left: 10px;
            margin-right: 10px;
            cursor:pointer;
        }
        a:hover{
                color:#49befc;
        }
        a.active {
            color: #49befc;
            transition: 0.1s;
            font-weight: bold;
            padding-bottom: 0px;          
        }
        img{
           .maxBody(1050px,533px);
            background-image: url(../../images/about/tianji7.jpg);
            display: block; 
            margin: 0 auto;         
        }        
        .switch{
            margin: 0 auto 60px;
            width: 130px;
        }

    }
    .swiper{
        .maxBody(100%,460px);
        .b-sizing();
        .font-fm(); 
        background-color: #E7E8EA;       
        padding-top: 80px;
        p{
            text-align: center;
            color: #222222;
            font-size: 24px;
            margin-bottom: 60px;
        }
        .swiper-container {
            width: 100%;
            height: 200px;
            margin: 20px auto;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 100px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }        
        .swiper-button-prev{
            .maxBody(55px,110px);
            background: url(../../images/exponent_free/ico.png) no-repeat;
            top: 45px;
            margin-top: 0px;
            left: 0px;
        }
        .swiper-button-next{
            .maxBody(55px,110px);
            background: url(../../images/exponent_free/ico.png) no-repeat;
            background-position: -56px 0;
            top: 45px;
            margin-top: 0px;
            right: 0px;
        } 
       
       
    }
    

}


