@charset "utf-8";
@import "../../common/style/z";
@import "../../font/iconfont.css";
.reset();

html,
body{
	width: 100%;
	background: #efeff5;
	.font-fm();
	&.mobileBody{
		overflow-x: hidden;
		.nav,.footer{
			display: none;
		}
		.regional-nav{
			display: none;
		}
		.comment-container{
			display: none;
		}
	}
}

.container{
	width: 100%;
	.content{
		.bc();
	}
}

