@charset "utf-8";
@import "../../common/style/z";
@import "../../font/iconfont.css";
.reset();

html,
body{
	width: 100%;
	overflow-x: hidden;
	background: #efeff5;
	.font-fm();
}

.container{
	width: 100%;
	.bc();
}

