@charset "utf-8";
@import "../../common/style/z";

.footer{
	@bg-color: #45546a;
	.rel();
	.ba-c(@bg-color);
	width: 100%;
	margin-top: 50px;
	left: 0;
	.f-cont{
		@c-width: 1050px;
		@c-height: 256px;
		.maxBody(@c-width,@c-height);
		.bc();
		ul{
			overflow: hidden;
			li{
				@li-width: 240px;
				.maxBody(@li-width,@c-height);
				margin-right: 30px;
				.fl();
				p{
					.font-s(18px);
					margin-top: 30px;
					color: #fff;
					.font-fm();
					.font-wb();
					&.small-font{
						.font-s();
						margin-top: 22px;
					}
				}
				a{
					.d-b();
					.font-s(16px);
					.font-fm();
					color: #fff;
					margin-top: 22px;
					&:hover{
						text-decoration: underline;
					}
				}
				.third-href{
					border-top: 1px solid #374355;
					margin-top: 30px;
					i{
						.maxBody(40px,40px);
						.d-ib();
						background: url('../../images/footer.png') no-repeat;
						background-size: 80px auto;
						.rel();
						top: 30px;
					}
					.wechart{
						background-position: 0 0;
					}
					.weibo{
						background-position: -40px 0;
						left: 10px;
					}
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	.copyright{
		.maxBody(100%,30px);
		.tc();
		.l-h(30px);
		.font-s(13px);
		.ba-c(#172a46);
		color: #435269;
	}
}