@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";

.footer{
	@bg-color: #45546a;
	.rel();
	.ba-c(@bg-color);
	width: 100%;
	margin-top: 100px;
	left: 0;
	.f-cont{
		ul{
			.bc();
			.rel();
			width: 1050px;
			li{
				padding: 40px 0;
			}
			a{
				.d-ib();
				.font-fm();
				.font-s(18px);
				.l-h(18px);
				color: #fff;
				border-right: 2px solid #fff;
				.b-sizing();
				padding: 0 30px;
				&:hover{
					text-decoration: underline;
				}
				&:last-child{
					border: none;
				}
			}
			.third-href{
				.fr();
				.abs();
				top: 32px;
				right: 0;
				i{
					.maxBody(40px,40px);
					.d-ib();
					background: url("../../images/footer.png") no-repeat;
					background-size: 80px auto;
					.c-point();
					.border-radius(3px);
				}
				.wechart{
					margin-right: 10px;
				}
				.weibo{
					background-position: -40px 0;
				}
			}
		}
		
	}
	.copyright{
		width: 100%;
		.ba-c(#172a46);
		padding: 10px 0;
		p{
			width: 1050px;
			.font-s(14px);
			.l-h(14px);
			margin: 10px 0;
			.font-fm();
			.bc();
			color: #45546a;
			.rel();
			left: 30px;
		}
		
	}
}