@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";

@width:1100px;
@72height:72px;
@bgColor:#45546a;
.nav{
	.maxBody();
	.border(#172a46);
	.b-sizing();
	.ba-c(@bgColor);
	margin-bottom: 60px;
	.nav-box{
		.maxBody(@width,@72height);
		.bc();
	}
	.nav-logo{
		@logoWidth:265px;
		.maxBody(@logoWidth,@72height);
		.fl();
		img{
			height: @72height;
		}
	}
	
	ul{
		@m-fl:40px;
		.fl();
		height: @72height;
		margin-left: @m-fl;
		li{
			.fl();
			.l-h(@72height);
			.tc();
			.c-point();
			.rel();
			a{
				.font-s(14px);
				.font-fm();
				.d-b();
				padding: 0 30px;
				color: #fff;
			}
			@shadow: 0 0 10px 0 rgba(0,0,0,.2) inset;
			&:hover{
				.ba-c(#3c4c63);
				.box-shadow(@shadow);
			}
			&.active{
				.ba-c(#172a46);
				.box-shadow(@shadow);
			}
			&.active:after{
				@tr-w: 6px;
				content: "";
				.d-ib7();
				.abs();
				.z-index(999);
				.triangle-t(@tr-w,#edeff4);
				bottom: -1px;
				left: 50%;
				margin-left: -@tr-w;
			}
		}
	}
	.nav-login{
		.rel();
		top: 32%;
		@u-h:24px;
		@moduleColor: #3C4C63;
		@moduleColorFont: #f2ffff;
		.fr();
		.clearfix();
		.nav-login-box{
			padding: 0 @u-h;
			.l-h(@u-h);
			.border-radius(@u-h);
			.rel();
			.ba-c(@moduleColor);
			.font-s();
			color: @moduleColorFont;
			.fl();
			a{
				color: @moduleColorFont;
				.font-fm();
				&:hover{
					text-decoration: underline;
				}
			}
			span{
				margin: 0 3px;
			}
			img{
				@img-w:40px;
				@img-h:40px;
				.maxBody(@img-w,@img-h);
				.abs();
				.border-radius(50%);
				left: -20px;
				top: -8px;
			}
		}
		
		.layout{
			.fl();
			.font-s();
			.l-h(@u-h);
			padding: 0 @u-h;
			.border-radius(@u-h);
			color: @moduleColorFont;
			border:1px solid @moduleColor;
			.c-point();
			margin-left: 10px;
			&:hover{
				border:1px solid @moduleColorFont;
				color: @moduleColor;
				.ba-c(@moduleColorFont);
			}
		}
	}
}