@charset "utf-8";
@import "../../common/style/z";
@import "../../common/style/css3";

@width:1100px;
@72height:72px;
@bgColor:#45546a;
.nav{
	.maxBody();
	.border(#172a46);
	.b-sizing();
	.ba-c(@bgColor);
	.nav-box{
		.maxBody(@width,@72height);
		.bc();
	}
	.nav-logo{
		@logoWidth:265px;
		.maxBody(@logoWidth,@72height);
		.fl();
		img{
			height: @72height;
		}
	}
	
	ul{
		@m-fl:40px;
		.fl();
		height: @72height;
		margin-left: @m-fl;
		li{
			.fl();
			.l-h(@72height);
			.tc();
			.c-point();
			.rel();
			a{
				.font-s(14px);
				.font-fm();
				.d-b();
				padding: 0 30px;
				color: #fff;
			}
			@shadow: 0 0 10px 0 rgba(0,0,0,.2) inset;
			&:hover{
				.ba-c(#3c4c63);
				.box-shadow(@shadow);
			}
			&.active{
				.ba-c(#172a46);
				.box-shadow(@shadow);
			}
			&.active:after{
				@tr-w: 6px;
				content: "";
				.d-ib7();
				.abs();
				.z-index(999);
				.triangle-t(@tr-w,#edeff4);
				bottom: -1px;
				left: 50%;
				margin-left: -@tr-w;
			}
		}
	}
	.nav-login{
		@u-h:24px;
		padding: 0 @u-h;
		.border-radius(@u-h);
		.fr();
		.l-h(@u-h);
		.rel();
		.ba-c(#3C4C63);
		.font-s();
		top: 50%;
		margin-top: -12px;
		color: #f2ffff;
		a{
			color: #f2ffff;
			.font-fm();
			&:hover{
				text-decoration: underline;
			}
		}
		span{
			margin: 0 3px;
		}
		img{
			@img-w:40px;
			@img-h:40px;
			.maxBody(@img-w,@img-h);
			.abs();
			.border-radius(50%);
			left: -20px;
			top: -8px;
		}
	}
}